<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metrophobic&family=Outfit:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <title>Dashboard - Admin</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="left">
                <a href="/"><img width="80px" src="/images/logo.png" alt="logo"></a>
                <div class="lefttext">
                    <div class="up">
                        <h1>Physi</h1>
                        <h1>CURE</h1>
                    </div>
                    <div class="down">
                        <h2 style="font-size: 15px;">Physical Therapy</h2>
                    </div>
                </div>
            </div>
            <nav class="right">
                <p><a href="/">Home</a></p>
                <p><a href="/login">Lịch hẹn</a></p>
                <p><a href="/html/location.html">Cơ sở</a></p>
                <p><a href="/html/services.html">Dịch vụ</a></p>
                <p><a href="/html/blog.html">Blog</a></p>
                <p style="width: 85px;"><a href="/html/career.html">Tuyển dụng</a></p>
                <p><a href="/" class="header-logout">Log out</a></p>
            </nav>
        </header>
        <div style="color: white; width: 100%; height: 80px;"></div>
        <div class="status-container">
            <div class="status-counts">
                <div class="status-card">
                    <h2>Confirmed</h2>
                    <p>
                        <%= status_counts.confirmed %>
                    </p>
                </div>
                <div class="status-card">
                    <h2>Scheduled</h2>
                    <p>
                        <%= status_counts.scheduled %>
                    </p>
                </div>
                <div class="status-card">
                    <h2>Completed</h2>
                    <p>
                        <%= status_counts.completed %>
                    </p>
                </div>
                <div class="status-card">
                    <h2>Canceled</h2>
                    <p>
                        <%= status_counts.canceled %>
                    </p>
                </div>
            </div>
        </div>
        <div class="schedule-table">
            <h2>All Schedules</h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Tên</th>
                            <th>Họ</th>
                            <th>SDT</th>
                            <th>Cơ sở</th>
                            <th>Giờ</th>
                            <th>Ngày</th>
                            <th>Trạng thái</th>
                            <th>Triệu chứng</th>
                            <th>Xác nhận</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% all_schedule_data.forEach(function(schedule) { %>
                            <tr>
                                <td>
                                    <%= schedule.userEmail %>
                                </td>
                                <td>
                                    <%= schedule.userFirstName %>
                                </td>
                                <td>
                                    <%= schedule.userLastName %>
                                </td>
                                <td>
                                    <%= schedule.userPhonenumber %>
                                </td>
                                <td>
                                    <%= schedule.facilityName %>
                                </td>
                                <td>
                                    <%= schedule.appointmentTime %>
                                </td>
                                <td>
                                    <%= schedule.appointmentDate %>
                                </td>
                                <td>
                                    <select class="status-select" data-id="<%= schedule.id %>">
                                        <option value="scheduled" <%=schedule.status==='scheduled' ? 'selected' : '' %>
                                            >Scheduled</option>
                                        <option value="completed" <%=schedule.status==='completed' ? 'selected' : '' %>
                                            >Completed</option>
                                        <option value="canceled" <%=schedule.status==='canceled' ? 'selected' : '' %>
                                            >Canceled</option>
                                    </select>
                                </td>
                                <td class="symptom">
                                    <%= schedule.symptom %>
                                </td>
                                </td>
                                <td>
                                    <select class="confirmed-select"
                                        class="<%= schedule.isConfirmed ? 'confirmed' : 'not-confirmed' %>"
                                        data-id="<%= schedule.id %>">
                                        <option value="true" <%=schedule.isConfirmed ? 'selected' : '' %>>Yes</option>
                                        <option value="false" <%=!schedule.isConfirmed ? 'selected' : '' %>>No</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn-update" data-id="<%= schedule.id %>">Update</button>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-up">
            <div class="footer-left">
                <h2>Contact</h2>
                <p>Email: physicure.work@gmail.com</p>
                <p>Địa chỉ: 43 Nguyễn Chí Thanh, Giảng Võ, Ba Đình, Hà Nội, Việt Nam</p>
                <div class="icon">
                    <img src="/images/fb.png" alt="fb">
                    <img src="/images/ins.png" alt="ins">
                    <img src="/images/twit.png" alt="tw">
                    <img src="/images/only.png" alt="only">
                </div>
            </div>
            <div class="footer-mid">
                <h2>Link</h2>
                <p><a href="/">Home</a></p>
                <p><a href="/html/location.html">Cơ sở</a></p>
                <p><a href="/html/services.html">Dịch vụ</a></p>
                <p><a href="/html/blog.html">Blog</a></p>
                <p><a href="/html/career.html">Tuyển dụng</a></p>
            </div>
            <div class="footer-right">
                <h2>Subs</h2>
                <input type="email" placeholder="Đăng kí Email để nhận thông tin mới nhất">
                <button>Đăng kí</button>
            </div>
        </div>
        <div class="footer-down">
            <p>Copyright: 2024 PhysiCURE</p>
        </div>
    </footer>
    <script>
        const logOut = async (event) => {
            event.preventDefault();
            await localStorage.clear();
            window.location.href = '/';
        }

        const logout = document.querySelector('.header-logout');
        logout.addEventListener('click', logOut);

        document.querySelectorAll('.btn-update').forEach(button => {
            button.addEventListener('click', async (event) => {
                const id = event.target.getAttribute('data-id');
                const status = document.querySelector(`.status-select[data-id="${id}"]`).value;
                const isConfirmed = document.querySelector(`.confirmed-select[data-id="${id}"]`).value == "true" ? 1 : 0;

                // console.log(`check data>> id: ${id} >> status: ${status} >> confirmed: ${isConfirmed}`);

                const response = await fetch('/api/update-schedule-status', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id, status, isConfirmed })
                });

                const result = await response.json();
                if (result.errCode === 0) {
                    alert('Schedule updated successfully 🎉');
                } else {
                    alert('❌ Failed to update schedule: ' + result.errMessage);
                }
            });
        });
    </script>


</body>

</html>